<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Day la trang home</h1>
        <p>Trang chủ của shop</p>
    </div>
    <!-- search box ben trai, combo box ben phai -->
    <div class="search-box">
        <input type="text" placeholder="Tìm kiếm sản phẩm" class="form-control search-input">
        <select class="form-control product-category" >
            <option selected disabled>Danh mục sản phẩm</option>
            <option>Do dien tu</option>
            <option>Do thoi trang</option>
            <option>Do gia dung</option>
        </select>
    </div>
    <!-- Products Grid -->
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of products">
            <div class="product-item">
                <img [src]="product.url" 
                     [alt]="product.name" 
                     class="product-image">
                <h3 class="product-name">{{product.name}}</h3>
                <p class="product-description">{{product.description}}</p>
                <p class="product-price">{{product.price}}đ</p>
                <!-- <div class="product-rating">
                    <i class="fas fa-star" *ngFor="let star of [].constructor(product.rating)"></i>
                    <i class="far fa-star" *ngFor="let star of [].constructor(5 - product.rating)"></i>
                </div> -->
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination -->
    <div class="d-flex justify-content-center">
        <nav aria-label="Product navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item" *ngIf="currentPage > 1">
                    <a class="page-link" href="#" (click)="onPageChange(1)" >First</a>
                </li>
                <li class="page-item" *ngIf="currentPage > 1">
                    <a class="page-link" href="#" (click)="onPageChange(currentPage - 1)">Previous</a>
                </li>
                <ng-container *ngFor="let page of visiblePages">
                    <li class="page-item" [ngClass]="{'active': page === currentPage}">
                        <a href="#" class="page-link" (click)="onPageChange(page)">{{page}}</a>
                    </li>
                </ng-container>
                <li class="page-item" *ngIf="currentPage < totalPages">
                    <a class="page-link" href="#" (click)="onPageChange(currentPage + 1)">Next</a>
                </li>
                <li class="page-item" *ngIf="currentPage < totalPages">
                    <a class="page-link" href="#" (click)="onPageChange(totalPages)">Last</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<app-footer></app-footer>