<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Day la trang detail product</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExample" class="carousel slide" data-bs-ride>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="square-image">
                            <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="product-image">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="square-image">
                            <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="product-image">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="square-image">
                            <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="product-image">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="square-image">
                            <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="product-image">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="square-image">
                            <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="product-image">
                        </div>
                    </div>
                </div>
                <button type="button" class="carousel-control-prev" data-bs-target="#carouselExample"
                    data-bs-ride="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button type="button" class="carousel-control-next" data-bs-target="#carouselExample"
                    data-bs-ride="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="row">
                <div class="thumbnail-container">
                    <div class="thumbnal-item active">
                        <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="thumbnal-image">
                    </div>
                    <div class="thumbnal-item">
                        <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="thumbnal-image">
                    </div>
                    <div class="thumbnal-item">
                        <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266984.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="thumbnal-image">
                    </div>
                    <div class="thumbnal-item">
                        <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266985.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="thumbnal-image">
                    </div>
                    <div class="thumbnal-item">
                        <img src="https://images.pexels.com/photos/1266982/pexels-photo-1266986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                                alt="This is a product image" class="thumbnal-image">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-details">
                <h2>Thông tin chi tiết sản phẩm</h2>
                <p>Mô tả sản phẩm</p>
                <p>Giá: 100.000đ</p>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
            <div class="product-quantity">
                <div class="border-wrapper">
                    <button>-</button>
                    <input type="text" name="" id="" value="1">
                    <button>+</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>